/* =======================================
  style reset.css
	resets the browser & specific drupal annoiances ;)
* ------------------------------------- */

/*-base reset---*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight: inherit;font-style: inherit;font-size: 100%; font-family: inherit; vertical-align: baseline;}
table{border-collapse: collapse; border-spacing:0}
table, td, th {vertical-align:top;text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* -----clearfix -----*/
.clearfix:after {content: "."; display: block; height: 0;  clear: both; visibility: hidden;}
.clearfix {display:inline-block;} /*ie7 dosnt validate - but fixes the prob ...*/
.clearfix {display:block;} /*opera & safari */
/*ie6 and no IE mac*/
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

/* ----- content blocks ----- */
/*TODO is both left & inline nesessary - min- height? is it 1% instead*/
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.left{float:left; display:inline; min-height: 1px; background-color: transparent;} 
.right{float:right; display:inline; min-height: 1px; background-color: transparent;} 


:focus{outline:0}

/* =======================================
 * Drupal6 overwrites
* ------------------------------------- */
ul, ul li, .item-list ul li{list-style: none; margin:0; padding:0;}
ul, .item-list ul{margin:0; padding:0;}

li.leaf{list-style: none}

.block ul{padding:0;}
.node .content ul{margin-bottom: 0.833333em; list-style-position: inside; list-style-type: square;}

.breadcrumb {margin:0;}
ul.breadcrumb li{display:inline; margin:0 0 0 10px;}
