/* =====================================
	Style: Typography
	basic font size's etc

  Based at 12 / 18 px
  http://www.alistapart.com/articles/howtosizetextincss

	orig_pix * em_value = wanted_pix
	wanted_pix /  orig_pix = em_value
* ------------------------------------- */

body {
  font-size: 0.75em; /* 16px x .75 = 12px */
  color: #333333;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  line-height: 1.5em; /* 12px x 1.5 = 18px  */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  line-height: 1.5em;
  color: #555;
}
h1{ 
  font-size: 2em; /* 2 * 12 = 24px */
  line-height: 1em; /* TODO: improve */
  color: #000;
}
h2 {
  font-size: 1.75em; /* 1.75 * 12px = 21px */
}
h3 {
  font-size: 1.333333em;  /* 1.333333 * 12px = 16px */
}
h4 {
  font-size: 1em; /* 1 * 12  = 12 */
  font-weight: bold;
}
h5 { 
  font-size: 1em; /* 1 * 12  = 12 */
  font-weight: bold;
  color: #333;
}
h6 { 
  font-size: 1em; /* 1 * 12  = 12 */
  font-weight: bold;
  color: #333;
}
p {
	margin-bottom: 0.5em;
}

/*-- code --*/
code, tt, pre {
  padding: 1px;
  background-color: #f6f6f2;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  font-size: 0.916667em; /* 0.916667 * 12px = 11px */
}

/*-- links --*/
a, a:link, a:visited, a:active {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}